<link rel='stylesheet' href='formDesign.css' type='text/css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h3 style="text-align: center" class="navbar"> you have successfully registered</h3>